.cardList ul {
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
}

.cardList li {
    float: left;
    list-style-type: none;
    padding: 10px;

}

.cardList li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    
}

.cardColorRed {
    color: rgb(214, 8, 8);
}

.red-card {
    color: rgb(214, 8, 8);
}

.black-card {
    color: rgb(0, 0, 0);
}

.cardNr {
    min-width: 300px;
    background-color: #f1f1f1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5em;    
    font-weight: bolder;
}

.cardNr li {
    list-style-type: none;
}

.card {
    font-size: 4em;
    list-style-type: none;

}




.cardFrontPage ul {
    text-decoration: none;    
}
    
.cardFrontPage a {
        font-size: 1.2em; 
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 500;
    
}
    
.cardFrontPage a:link {
        color: black;
        text-decoration: none;
}
    
.cardFrontPage a:hover {
    border: 1px solid black;
}


.imageCard img {
    margin-left: 30%;
}