{% extends "base.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}
    <h1>Om kursen</h1>
  <div class="parent">
  <div class="child1">
    <p>I kursen Objektorienterade webbteknologier (mvc) s책 채r fokus p책 objektorienterad PHP-programmering. I kursen anv채nds 
    bland annat webbramverket Symfony. </p>

</div>


<div class="child2">
<a href="https://github.com/macm23">Github</>
</div>

</div>


{% endblock %}