{% extends "base.html.twig" %}

{% block title %}Cards Game{% endblock %}

{% block body %}
<h1 class="cardGameRubrik">Cardgame</h1>

<p> 
Det här spelet heter "21" och går ut på att man ska få totalt värdet 21 på sina kort, alternativ komma så nära 
som möjligt 21. Om man får fler poäng än 21 så förlorar man. Spelet går ut på att man som spelare börjar med att 
ta kort till att man antingen vinner, förlorar eller väljer att stoppa. Om man väljer att stoppa så är det bankens tur 
och banken vinner om den i slutändan har fler poäng än eller lika mycket poäng som spelaren och den förlorar om den
får fler än 21. 

</p>

<br>
<br> 
<br>

<div class="playButton">
<form method="post" action="">
    <p>
        <input type="submit" name="play" value="Play the game"
    onClick="this.form.action='{{ path('play_cardgame_get') }}';this.form.method='get';">


    </p>
</form>
</div>

<br>
<br>
<br>
<br>
<br>
<ul class="cardGameDoc">
        <li><a href="{{ path('game_doc') }}">Show game documentation</a></li>
</ul>


{% endblock %}