{# templates/lucky_number.html.twig #}
{% extends "base.html.twig" %}

{% block title %}Magic number{% endblock %}

{% block body %}
    <div class="lucky"> <h1>Magic date</h1> </div>
    <p>Welcome to my awesome magical homepage.</p>
    <p>This is a random date and time:
    <div class="randomYear"> {{ randomYear }} </div>
    </p>
{% endblock %}