{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
    <h1>Report</h1>
<div class="reportUl">
<ul>
    <li><a href="#kmom01">kmom01</a></li>
    <li><a href="#kmom02">kmom02</a></li>
    <li><a href="#kmom03">kmom03</a></li>
    <li><a href="#kmom04">kmom04</a></li>
    <li><a href="#kmom05">kmom05</a></li>
    <li><a href="#kmom06">kmom06</a></li>
    <li><a href="#kmom07">kmom07</a></li>
    <li><a href="#kmom08">kmom08</a></li>
    <li><a href="#kmom09">kmom09</a></li>
    <li><a href="#kmom10">kmom10</a></li>
</ul>
</div>

<div class="report">
<h2 id="kmom01">kmom01</h2>

<p> Jag hade ingen speciell tidigare erfarenhet av objektorientering i PHP, så allt var 
väldigt nytt för mig. Efter att ha gjort övningen och sedan arbetat mig igenom den här 
uppgiften tycker jag att strukturen med Twig-templates och controller-filerna känns hyfsat lätt att förstå.  
<br>
<br>
För att komma igång med att skapa klasser i PHP så behöver man också förstå vad objekt, metoder och "properties" är då dessa 
hänger ihop. Klassen är en slags mall; properties är variabler som man använder i klasser och är värdet på alla variablerna i objektet; 
metoderna är det man gör med själva objektet. 
<br>
<br>
Jag tycker att "PHP The Right Way" var ett lättöverskådlig dokument. Jag gillade att man kunde läsa igenom lite basic information för 
att friska upp minnet lite. Jag tyckte också att avsnittet "Code Style Guide" var bra, då det fanns olika länkar gällande olika stilar att läsa vidare om. 
Avsnittet om templates var givande då det är något nytt för den här 
kursen. 
Avsnittet om säkerhet tycker jag var intressant och skulle gärna lära mig mer om det. Jag vet 
att vi har gått igenom lite säkerhetsaspekter i tidigare kurser, men det skulle vara intressant 
att fokusera ännu mer på det.

<br>
<br>
TIL hur man använder json_encode()


</div>

{% endblock %}